/* You can add global styles to this file, and also import other style files */
:root {
  font-synthesis: none;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: calc(1em + 0.6rem);
}

html {
  scroll-behavior: smooth;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
  font-style: italic;

  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

body {
  min-height: 100svh;
}
